/* style.css */ 
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);
html {
    width: 750px;
    margin-left:auto;
    margin-right:auto;
    border-left: 5px solid rgb(255,255,255);
    border-right: 5px solid rgb(255,255,255);
}

body{ 
font-family:"Helvetica", sans-serif; 
font-size: 18px;
color: #222;
background-color:lightblue;
line-height: normal;
margin:0px;
padding: 0px;
} 


header,h1{
color: rgb(0,20,255);
text-align: center;
display: block;
font-size: 2em;
font-family: 'Raleway', sans-serif;
font-weight: normal;
line-height: 1em;
padding-top: 8px;
background-image: url(../img/background.jpg);
background-position: left;
background-size:cover;
}

ul{
list-style: inside circle;
}

header, section{
border-bottom: 5px dotted rgb(0,0,255);
}


a,
a:visited {
  color: #00A900;
}

a:hover,
a:focus {
  color: #00EB0A;
  transition: color 0.75s ease;
}

nav {
    padding: 0 8px;
}

.menu li a{
font-size: 20px;
padding-bottom: 5.5px;
font-family: "Lato", sans-serif;
font-weight: bold;
display: inline-block;
position:relative;
text-decoration: none;
}

#Men {
    padding: 0 8px;
}
    
#Edu {
    padding: 0 8px;
}

article {
    padding-left: 40px;
}

#Int{
text-align: left;
padding: 0 8px;
position: relative;
display: block;
float: left;
border-bottom: none;
}


#Com{
display: block;
text-align: left;
padding: 0 8px;
padding-bottom: 45px;
border-bottom: none;
clear:right;
}


#Hon {
    padding: 0 8px;
    border-top:5px dotted rgb(0,0,255); 
    line-height: 1.5em;
}

#Con{
padding: 0 8px;
}


footer,em{ 
font-style: normal;
font-weight: bold;
text-align: center;
padding-top: 10px;
} 

