*{
  color: black;
  background: transparent;
  font-size: 10px;
  font-family:"Times New Roman", "Georgia", Serif;
 
}

@page {
  margin: 0.3in;
}

header h1{
color: black;
font-size: 10px;
font-family: serif;
font-weight: bold;
padding-top: 0px;
margin-top: 0px;
}

h2{
font-size: 10px;
color: black;
}

header section{
border-bottom:none;
}


header .tmenu{
display: none;
}

.icon{
display: none;
}

#men,
nav {
display:none;
}

#int{
border-bottom: none;
}

ul li{
list-style: none;
}

#edu {
margin-bottom: 0px;    
}

#com{
border-bottom: none;
}


a[href$="z.xia2@umiami.edu"] {
color: black;
display: inline;
}

a[href$="z.xia2@umiami.edu"]:after {
 content: "("attr(href) ")";
}

a[href^="http://www.cucn.edu.cn/"],
a[href^="http://www.Miami.edu/"] {
display: inline;
color: black;
}

a[href^="http://www.cucn.edu.cn/"] after,
a[href^="http://www.Miami.edu/"] after {
  content: " (" attr(href) ") ";
}

footer{
display: none;
}