*{
  color: black;
  background: transparent;
  font-size: 12pt;
  font-family:"Times New Roman", "Georgia", Serif;
}


header,h1{
color: black;
font-size: 20pt;
font-family: serif;
font-weight: bolder;
padding-top: 0px;
}

h2{
font-size: 20pt;
}

header, section{
border-bottom: 5px dotted rgb(0,0,0);
}

@page {
  margin: 0.3in;
}


#Men,
nav {
display:none;
}


a {
text-decoration: none;
}

a[href$="z.xia2@umiami.edu"] {
color: black;
display: inline;
}

a[href$="z.xia2@umiami.edu"]:after {
 content: "("attr(href) ")";
}

a[href^="http://www.cucn.edu.cn/"],
a[href^="http://www.Miami.edu/"] {
display: inline;
color: black;
}

a[href^="http://www.cucn.edu.cn/"] after,
a[href^="http://www.Miami.edu/"] after {
  content: " (" attr(href) ") ";
}

